<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{+title /}</title>

    <!-- Bootstrap -->    
	<link rel="stylesheet" href="/css/app.css" />	
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
  	<nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
        <h1><a href="#">Punches</a></h1>
      </li>
      <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right">  
        <li><a href="/login">Login</a></li>
        <li><a href="/punch/create">Enter</a></li>
        <li><a href="/punch/">Daily</a></li>        
        <li><a href="/report/summary">Summary</a></li>
        
      </ul>
    </section>
    </nav>
    <br/>
    {+body /}
	   
     
    <!-- Include all compiled plugins (below), or include individual files as needed -->    
    <script data-main="/js/app" src="/components/requirejs/require.js"></script>
  </body>
</html>
